<h2 class="ui center aligned medium icon header">
  <i class="circular coffee orange icon"></i>
  Say Something ^_^
</h2>

<div class="ui two column container grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
              <div class="event">
                  <div class="content">
                  <div class="summary">
                      <em>Elliot Fu:</em> message
                  </div>
                  </div>
              </div>
              <div class="event">
                  <div class="content">
                  <div class="summary">
                      <em>Stevie Feliciano:</em> test message
                  </div>
                  </div>
              </div>
              <div class="event">
                  <div class="content">
                  <div class="summary">
                      <em>Helen Troy:</em> test message
                  </div>
                  </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                      <em>Christian Rocha:</em> signed up for the  site.
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="extra content">
          <form class="ui reply form">
            <div class="field">

              <div class='ui input icon'>
                <div class="ui left icon input">
                    <i class="icon keyboard outline"></i>
                  <input type="text" placeholder="Type...">
                </div>
                
                  <i class="icon edit bordered inverted orange"></i>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">

          <div class="ui inverted vertical menu">
            <a class="active item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

